<div class="sidebar">
<button>لوحة المعلومات</button>
<button>المرضى</button>
<button>الأطباء</button>
<button>المواعيد</button>
<button>الإجراءات</button>
<button>الإعدادات</button>
</div>

<div class="topbar">
نظام إدارة المستوصف
</div>
<h1>🏥 نظام إدارة المستوصف</h1>

<p>👤 المستخدم: {{ session['user'] }}</p>
<p>🎯 الصلاحية: {{ session['role'] }}</p>

<hr>

<a href="/patients">👨‍⚕️ المرضى</a><br>
<a href="/appointments">📅 الحجوزات</a><br>

{% if session['role'] in ['admin','accountant'] %}
<a href="/invoices">💰 الفواتير</a><br>
{% endif %}

{% if session['role'] == 'admin' %}
<a href="/logs">📊 سجل العمليات</a><br>
{% endif %}

<a href="/logout">🚪 تسجيل خروج</a>
